<html>

<head>
	<meta charset="utf-8">

	<title>Sign Up</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>


</head>

<body>
	<form method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" name="user_id" value={{user_info.user_id}} disabled></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" value={{user_info.password}}></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" value={{user_info.name}}></td>
			</tr>
			<tr>
				<td><button type="submit">Save(저장)</button></td>
			</tr>
		</table>
	</form>
	<br />
	<hr />
	<br>
	<a href="">Delete Account(회원탈퇴)</a>
	<hr />
	<br>
	<a href="./signin">Back(돌아가기)</a>
</body>

</html>