<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  폼 전송 - 실습
  <form method="POST">
		{% csrf_token %}
    이름&nbsp;<input type="text" name="name" value="{{name}}"><br/>
    성별&nbsp;<input type="radio" name="gender" value="1">&nbsp;남자
    &nbsp;<input type="radio" name="gender" value="2">여자<br>
    생년월일&nbsp;
    <select name="year">
      <option value="1990">1990</option>
      <option value="1991">1991</option>
      <option value="1992">1992</option>
    </select>년
    <select name="month">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>월
    <select name="day">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>일
    <br>
    <input type="submit" value="회원가입">
    
  </form>
</body>

</html>