<html>
	<head>
		<meta charset="utf-8">
		
		<title>form태그 공부</title>
	</head>
	
	<body>
		<form method="post">
			  {% csrf_token %}
			 Product ID:&nbsp
			<input type="text" name="productid"><br/>
			Product NAME:&nbsp
			<input type="text" name="productname"><br/>
			Price:&nbsp
			<input type="text" name="price"><br/>
			<button type="submit">전송</button>
		</form>
	</body>
</html>