<html>
	<head>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Price</th>
			</thead>
			<tbody>

		{% for hey in sukkyung %}
			<tr>
				<td>{{hey.productid}}</td>
				<td>{{hey.productname}}</td>
				<td>{{hey.price}}</td>
			</tr>	
		{% endfor %}
			</tbody>
		</table>
	</body>
</html>
