<html>

<head>
	<meta charset="utf-8">

	<title>Sign in</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>
</head>

<body>
	{% if request.session.user %}
	<h1>Hello, {{request.session.user}}</h1>
	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="sign_out" value="true"><br />
		<button type="submit">Sign Out(로그아웃)</button>
	</form>
	<a href='./accountinfo'>Account Info(정보수정, 회원탈퇴)</a>

	{% else %}
	<h1>Sign In</h1>
	<form method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>
					ID
				</td>
				<td>
					<input type="text" name="user_id">
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td><button type="submit">Sign In</button></td>
				<td><span style="color:red;">{{error}}</span></td>
			</tr>
		</table>
	</form>
	<br />
	<br />
	<hr />
	<br />
	<a href="./signup">Sign Up(회원가입)</a>
	<hr /><br />
	<table>
		<tr>
			<th>ID</th>
			<th>Pass</th>
			<th>Name</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{user.user_id}}</td>
			<td>{{user.password}}</td>
			<td>{{user.name}}</td>
		</tr>
		{% endfor %}
	</table>
	<br />



	{% endif %}


</body>

</html>