<html>

<head>
	<meta charset="utf-8">

	<title>Sign Up</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>

	{% if Sign_Up_Complete %}
	<script>
		window.onload = function () {
			alert('Sign Up Complete!(회원가입이 완료 되었습니다.)');
			window.location.href = "./signin";
		}
	</script>
	{% endif %}
</head>

<body>
	<form method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" name="user_id"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td><button type="submit">Sign Up(회원가입)</button></td>
			</tr>
		</table>
	</form>
	<br />
	<hr />
	<br>
	<a href="./signin">Sign In</a>
</body>

</html>