{% load static %}
<html>
	<head>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
			</thead>
			<tbody>

		{% for hey in sukkyung %}
			<tr>
				<td>{{hey.userid}}</td>
				<td>{{hey.username}}</td>
			</tr>	
		{% endfor %}
			</tbody>
		</table>
		<img src="{% static 'cat.jpg' %}">
	</body>
</html>
