<html>
	<head>
		<meta charset="utf-8">
		
		<title>form태그 공부</title>
	</head>
	
	<body>
		<form method="post">
			  {% csrf_token %}
			<input type="text" name="id">
			<input type="text" name="name">
			<input type="text" name="pw">
			<select name="gender">
				<option value="W">여성</option>
				<option value="">남성</option>
			</select>
			<button type="submit">전송</button>
		</form>
	</body>
</html>